/* .App {
  text-align: center;
} */

.center {
  text-align: center;
}

.left-navbar {
  width: 10%;
  background-color: lightgrey;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.header {
  background-color: darkgrey;
  color: white;
  padding: 16px;
}

.menu {
  padding: 16px;
}

.menu-item {
  background-color: lightgrey;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.selected{
  background-color: lightgrey;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.customer{
  background-color: lightgrey;
  color: black;
  padding: 12px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

.menu-item:hover {
  background-color: lightblue;
}

.content {
  margin-left: 250px;
}

.intro {
  position: absolute;
}




